* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.heroContainer {
  background: #1f2937;
  padding: 0px 15vw;
}

.navBar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}
.brandName {
  font-weight: bolder;
  font-size: 2.2vh;
  color: #f9f9fa;
}
.navBar ul {
  list-style-type: none;
  display: flex;
  gap: 40px;
}
.navBar ul li {
  font-weight: 500;
  color: #c4c9ce;
  text-wrap: nowrap;
  padding-right: 1.2vh;
}

.subContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 60px 0px;
}
.subContainer h1 {
  color: #f9faf8;
  font-size: 4.4vh;
  font-weight: bolder;
  margin-bottom: 10px;
}
.subContainer p {
  color: #ccd0d4;
  font-size: 1.6vh;
  margin-bottom: 10px;
}
.subContainer button {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 5px 20px;
  border: 1px solid #3882f6;
  border-radius: 5px; 
  background: #3882f6;
}
.subContainer .imageDiv {
  background: #6d747d;
  height: 200px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subContainer .imageDiv p {
  color: #fdfdfd;
}

.heroContent .child {
  padding-bottom: 20px;
}

/* Second section */
.secondSection {
  padding: 50px 0px;
}
.secondSection .mainContainer {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.secondSection h1 {
  color: #1f2937;
  text-align: center;
  font-size: 3.3vh;
}

.secondSection .mainContainer .card {
  width: 150px;
  display: flex;
  flex-direction: column;
}
.secondSection .mainContainer .card .cardLayout {
  height: 160px;
  border: 4px solid #3a82f7;
  border-radius: 10px;
}
.secondSection .mainContainer .card .cardText {
  color: #59626f;
  font-weight: 500;
  font-size: 1rem;
  padding: 10px 0px;
  text-align: center;
  text-wrap: wrap;
}

/* Third Section */

.thirdSection {
  background: #e5e7eb;
  padding: 0px 15vw;
}
.thirdSection .subContainer {
  padding: 150px 8vw;
  display: flex;
  flex-direction: column;
}
.thirdSection p:nth-child(1) {
  color: #1f2937;
  font-size: 3.3vh;
  font-weight: light;
  font-style: italic;
}
.thirdSection p:nth-child(2) {
  display: flex;
  justify-content: end;
  color: #000;
  font-weight: 600;
  font-size: large;
}

/* Fourth Section */

.fourthSection {
  padding: 40px 15vw;
}
.fourthSection .mainContainer {
  background: #3a82f7;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0px;
  padding: 40px 50px;
  border-radius: 10px;
}
.fourthSection .text p:nth-child(1) {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
}
.fourthSection .text p:nth-child(2) {
  color: #e5e7eb;
}
.fourthSection button {
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 5px 40px;
  border: 2px solid #fff;
  border-radius: 8px;
  background: #3a82f7;
}

/* CopyRight  */
.copyRightContainer {
  background: #1f2937;
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.copyRightContainer p {
  font-weight: normal;
  color: #fff;
}
